.node rect {
  cursor: pointer;
  fill-opacity: .9;
  shape-rendering: crispEdges;
  }
  
.node text {
  font-family: Montserrat;
  font-weight: bold;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}

.link:hover {
  stroke-opacity: .5;
}

.line {
  fill:none;
  stroke: steelblue;
  stroke-width: 4px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.tick-container {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 5px;
}

.tick_sk {
  position: absolute;
  white-space: nowrap;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  transform: translateX(-50%);
}
