/* HEAVILY INSPIRED FROM https://bl.ocks.org/d3noob/013054e8d7807dff76247b81b0e29030 by Malcolm Maclean
NEED TO CHECK similarities and how it looks like */
.node rect {
  cursor: pointer;
  fill-opacity: .9;
  shape-rendering: crispEdges;
  }
  
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}

.link:hover {
  stroke-opacity: .5;
}

.line {
  fill:none;
  stroke: steelblue;
  stroke-width: 4px;
}

/* div.tooltip{
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  background-color: antiquewhite;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
} */