html, body {
  max-width: 100vw; /* assure que la largeur du body ne dépasse pas la largeur de la fenêtre */
  margin : 0;
}

.container {
  display: flex;
  overflow-x: auto;
  height: 100%;
  scroll-snap-type: x mandatory;
}
.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  height: 100vh;
  text-align: center;
}

#Title {
  background-color: #cfecec;
}

#Intro, #Credits, #United {
  margin-right: 160px;
  margin-left: 160px;
}


#Intro, #Sankey {
  position: relative;
}

.intro-image {
  position: absolute;
  bottom: 0px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 400px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

.sankey-image {
  position: absolute;
  bottom: 0px; /* Adjust as needed */
  left: 350px; /* Adjust as needed */
  width: 200px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: -1;
}

.fullscreen-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  font-size: 3em;
  text-align: justify;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

#sankey-viz {
  max-width: 40vw;
  max-height: 50vh;
  margin:auto;
}

#undesa-viz {
  max-width: 55vw;
  max-height: 50vh;
  margin:auto;
}

#united-viz{
  max-width: 65vw;
  margin:auto;
}


.right {
    margin-right: 150px;
}

.top {
    padding-top: 50px;
}

h1 { 
    text-align: center;
    margin-top: 0;
    font-size: calc(8vw + 8vh);
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #006b6b;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: calc(1vw + 1vh);
    text-align: center;
    font-size: calc(4vw + 4vh);
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #006b6b;
}


#Intro p{
  text-align: justify;
  font-size: calc(1vw + 1vh);
}


h3 {
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
}

p {
    text-align: justify;
    font-size: calc(1vw + 1vh);
}

.styled-text h1 {
  text-transform: uppercase;
  font-size: calc(7vw + 7vh);
}

.styled-text h1::first-letter {
  font-size: calc(8vw + 8vh);
}

.styled-text h2 {
  text-transform: uppercase;
  font-size: calc(4vw + 4vh);
}

.styled-text h2::first-letter {
  font-size: calc(4.5vw + 4.5vh);
}



.mendatory-scrolling{
    overflow-y: scroll; /* Permet le défilement vertical */
    scroll-snap-type: y mandatory; /* Active le scroll snapping vertical obligatoire */
    height: 100vh;
}

#fixedMenu {
    position: fixed;
    top: 35%;
    right: 10px;
    /*transform: translateY(-50%);*/
    z-index: 10;
    transition: all 1s;
  }
  
  #fixedMenu a {
    display: block;
    padding: 5px 10px;
    margin: 5px 0px;
    text-align: center;
    color: white;
    background-color: #a7d7d7;
    border-radius: 15px;
    text-decoration: none;
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  #fixedMenu a:hover {
    background-color: #008585;
  }

  /* Style pour le lien actif */
  #fixedMenu a.active {
    padding: 5px 5px;
    background-color: #008585;
    color: white;
    font-weight: bold;
  }

  #fixedMenu.shrinked {
    width: 20px; /* Adjust as needed */
    padding: 5px 10px;
}

#fixedMenu.shrinked a {
    overflow: hidden; /* Hide overflowing text */
    padding: 5px 15px;
    margin: 5px 0px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0);
}

#fixedMenu.expanded {
    width: 115px;
    padding: 5px 10px;
}

#fixedMenu.expanded a {
    padding: 5px 10px;
}

  .menu-link {
    padding: 5px 5px;
    color: black;
    background-color: #E5C185;
    border-radius: 5px;
    text-decoration: none;
}

.menu-link:hover {
    background-color: #008585;
    color: white;
}

.obeep-image {
    width: 200px;
}

 #Title{
  /*
  background-image: url('../images/hero_background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
  position:relative;
}
  
/* --------------------------------------------------------------*/
/* ---------------------   2 COLUMNS     ------------------------*/
/* --------------------------------------------------------------*/

.two-columns {
  height: calc(100vh - 2*(5vw + 5vh));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-two-columns {
  height: calc(100vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-column {
  flex: 1; /* Takes up 1 part of the available space */
  padding-right: 20px; /* Optional padding for spacing */
  padding-left: 50px;
}

.viz-column {
  flex: 2; /* Takes up 2 parts of the available space */
}

.big-viz-column{
  flex: 4;
}

.centered-content {
  height: calc(100vh - 2*(5vw + 5vh));
  display: flex;
  justify-content: center;
  align-items: center;
}

  
/* --------------------------------------------------------------*/
/* ----------------   AUTHORS SECTION    ------------------------*/
/* --------------------------------------------------------------*/

.author-profiles {
  display: flex;
  justify-content: center;
}

.author {
  margin: 0 10px;
  text-align: center;
}

.author p {
  margin: 4px 0;
  text-align: center;
}

.profile-photo {
  width: calc(17vw);
  height: calc(17vw);
  border-radius: 50%;
  object-fit: cover;
  background-color: #a7d7d7;
}

.github-link {
  font-size: 32px;
  color: #008585; 
  display: inline-block;
  margin: 4px 0;
}

.github-link:hover {
  color: black;
}

.linkedin-link {
  font-size: 32px;
  color: #008585; 
  display: inline-block;
  margin: 4px 0;
}

.linkedin-link:hover {
  color: #2867B2;
}

.info-panel {
  /*position: absolute;*/

  left: 0px;
  width: 22vw; /* Fixed width */
  height: 82vh; /*Maximum height */
  overflow-y: hidden; /* Enable vertical scrollbar if content exceeds maximum height */
  background-color: rgba(251, 242, 196, 0.4);
  border: 2px solid rgba(229, 193, 133, 0.6);
  padding-left: 10px;
}

/* Style for the heading */
.info-panel h1 {
  padding-top: 0px;
  text-align: center;
  font-size: 22px;
  font-family: 'Roboto Condensed';
  color: #006b6b;
}


.info-panel h2 {
  padding-top: 0px;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto Condensed';
  color: #006b6b;
}

/* Style for the paragraph */
.info-panel p {
  font-size: 10px;
  text-align: left;  /* Adjust the font size as needed */
}

.hover-info {
  color: black;
}

.hover-info p {
  color: black;
  font-size: 16px !important;
}

/* --------------------------------------------------------------*/
/* ------------------   CREDITS SECTION   -----------------------*/
/* --------------------------------------------------------------*/

.credits-list {
  font-size: calc(1vw + 1vh);
  text-align: justify;
  list-style: decimal inside;
}

.credits-list a {
  color: #008585;
  text-decoration: none;
}

.credits-list a:hover {
  text-decoration: underline;
}

.centered-content p {
  font-size: calc(1vw + 1vh);
  text-align: center;
}

.bottom{
  text-align: end;
  bottom: 0px;
}

/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/