html, body {
  max-width: 100vw; /* assure que la largeur du body ne dépasse pas la largeur de la fenêtre */
  margin : 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

#united-viz, #undesa-viz, #sankey-viz {
  max-width: 45vw;
  max-height: 45vh;
  margin:auto;
}

.right {
    margin-right: 100px;
}

h1 { 
    text-align: center;
    margin-top: 0;
    font-size: calc(8vw + 8vh);
  }

#Title h1{
    text-shadow: 2px 2px 4px white; /* x-offset, y-offset, blur-radius, color */
}

#Intro p{
  text-align: center;
  font-size: calc(1vw + 1vh);
}

h2 {
    text-align: center;
    font-size: calc(4vw + 4vh);
}

h3 {
    text-align: center;
    font-size: calc(2vw + 2vh);
}

p {
    font-size: calc(1vw + 1vh);
}



.slide {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    text-align: center;
}

.mendatory-scrolling{
    overflow-y: scroll; /* Permet le défilement vertical */
    scroll-snap-type: y mandatory; /* Active le scroll snapping vertical obligatoire */
    height: 100vh;
}

#fixedMenu {
    position: fixed;
    top: 50%;
    right: 10px;
    /*transform: translateY(-50%);*/
    z-index: 10;
  }
  
  #fixedMenu a {
    display: block;
    padding: 5px 10px;
    margin: 5px 0px;
    text-align: center;
    color: white;
    background-color: #c7522a;
    border-radius: 5px;
    text-decoration: none;
  }
  
  #fixedMenu a:hover {
    background-color: #008585;
  }

  /* Style pour le lien actif */
  #fixedMenu a.active {
    padding: 5px 5px;
    background-color: #008585;
    color: white;
    font-weight: bold;
  }


#Title{
  background-image: url('../images/hero_background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
/* --------------------------------------------------------------*/
/* ---------------------   2 COLUMNS     ------------------------*/
/* --------------------------------------------------------------*/

.two-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items at the top */
}

.text-column {
  flex: 1; /* Takes up 1 part of the available space */
  padding-right: 50px; /* Optional padding for spacing */
  padding-left: 50px;
  text-align: left;
}

.viz-column {
  flex: 2; /* Takes up 2 parts of the available space */
  /* No padding-right here if you want the viz to be full width */
}



  
/* --------------------------------------------------------------*/
/* ----------------   AUTHORS SECTION    ------------------------*/
/* --------------------------------------------------------------*/

.author-profiles {
  display: flex;
  justify-content: center;
}

.author {
  margin: 0 10px;
  text-align: center;
}

.author p {
  margin: 4px 0;
}

.profile-photo {
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.github-link {
  font-size: 32px;
  color: #c7522a; 
  display: inline-block;
  margin: 4px 0;
}

.github-link:hover {
  color: black;
}

.linkedin-link {
  font-size: 32px;
  color: #c7522a; 
  display: inline-block;
  margin: 4px 0;
}

.linkedin-link:hover {
  color: #2867B2;
}

.info-panel {
  /*position: absolute;*/
 /* Adjust as needed */
  left: 0px;
  width: 300px; /* Fixed width */
  height: 445px;/* Maximum height */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds maximum height */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
}

/* Style for the heading */
.info-panel h2 {
  font-size: 18px; /* Adjust the font size as needed */
}

/* Style for the paragraph */
.info-panel p {
  font-size: 14px; /* Adjust the font size as needed */
}

/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/