.tooltip-undesa {
    position: absolute;
    pointer-events: none;
    overflow-wrap: break-word; 
    width: 15.5em;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background:rgba(255,255,255,.9);
    box-shadow: rgba(0,0,0,.2) 1px 1px 9px;
    padding: 4rem;
    /*transition: opacity .3s;*/
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    text-align: left;    
}

.tooltip-undesa > div > span {
    float: right;
    text-align: right;
}

.tooltip-undesa > div {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25em;
}

.tooltip-undesa > div > b {
    font-size: 1.05em;
}

.tooltip-undesa > .undesa-data {
    margin: 0.75em 0em;
    line-height: 1.5em;
}

.tooltip-undesa > undesa-meta-data {
    line-height: 0;
}

.tooltip-undesa > .undesa-meta-data > div{
    font-size: 0.75em;
    line-height: 1em;
}

.undesa-legend {
    opacity: 0;
    float: right;
}

.undesa-menu {
    padding: 0em 4em;
}

.western_asia {
    font-size: 0.65em;
}

/*
style=\"font-size: 0.8em;\"
*/


/*  
----- BUTTON ----- 
Toggle Radios v1.1
by Adam Culpepper | @adamculpepper
https://github.com/adamculpepper/toggle-radios
*/

.toggle-radio {
    /*background: #f5f5f5;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-flex;
    margin: 8px 0px;
    float: left;
}

.toggle-radio>input+label:not(:last-of-type) {
    border-right: 1px solid #ccc;
}

.toggle-radio>input[type='radio'] {
    display: none;
}

.toggle-radio>input+label {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px 10px;
    cursor: pointer;
}

/* Transitions */
.toggle-radio>input:checked+label {
    transition: background 300ms linear;
    background: #dcdcdc;
}