.tooltip-undesa {
    position: absolute;
    pointer-events: none;
    overflow-wrap: break-word;
    width: 14.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background:rgba(255,255,255,.9);
    box-shadow: rgba(0,0,0,.2) 1px 1px 9px;
    padding: 1.25rem 1rem;
    transition: opacity .3s;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    text-align: left;    
}


.tooltip-undesa > p > span {
    float: right;
    text-align: right;
}

.tooltip-undesa > p {
    line-height: 1.75em;
}

.tooltip-undesa > div {
    line-height: 0;
}

.tooltip-undesa > div > text {
    font-size: 0.75em;
    line-height: 1em;
}

/*
style=\"font-size: 0.8em;\"
*/


/*  
----- BUTTON ----- 
Toggle Radios v1.1
by Adam Culpepper | @adamculpepper
https://github.com/adamculpepper/toggle-radios
*/

.toggle-radio {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-flex;
    margin: 20px;
}

.toggle-radio>input+label:not(:last-of-type) {
    border-right: 1px solid #ccc;
}

.toggle-radio>input[type='radio'] {
    display: none;
}

.toggle-radio>input+label {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px 10px;
    cursor: pointer;
}

/* Transitions */
.toggle-radio>input:checked+label {
    transition: background 300ms linear;
    background: lightblue;
}